/**
 * Yachtino boat listing - WordPress plugin.
 * @author      Yachtino
 * @package     yachtino
 */

/* ########### image gallery ############################################## */

/* ------- general --------------------- */
.yoglry-container, .yothumbglry-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.yoglry-slider, .yothumbglry-slider {
    position: relative;
    height: 100%;
    left: 0;
}

.yoglry-slider {
    height: 360px;
}

.yothumbglry-slider {
    height: 80px;
}

.yoglry-box, .yothumbglry-box, .yomaxglry-box {
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.yoglry-box, .yothumbglry-box {
    cursor: pointer;
}

.yoglry-box, .yomaxglry-box {
    /*
    height: 100%; */
    text-align: center;
    height: 100%;
    width: 100%;
}

.yothumbglry-box {
    width: 20%;
    padding: 0 2px 0 2px;
    opacity: 0.5;
}

.yothumbglry-box.yothumbglry-active, .yothumbglry-box:hover {
    opacity: 1;
}

.yoglry-box img, .yothumbglry-box img, .yomaxglry-box img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    /* object-fit: cover; */
    border-radius: 6px;
}
/* .yoglry-box img {
    height: auto;
} */

.yothumbglry-box img {
    height: 100%;
    width: 100%;
}
.yoglry-box img {
    width: 100%;
    object-fit: cover;
}

.yoglry-counter, .yomaxglry-counter {
    position: absolute;
    bottom: 1.5em;
    left: 44%;
    background-color: black;
    color: white;
    padding: 0.2em 0.5em;
    opacity: 0.7;
    border-radius: 6px;
}

.yoglry-arrow, .yothumbglry-arrow, .yomaxglry-arrow {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    color: #999;
}

.yoglry-arrow, .yothumbglry-arrow {
    z-index: 50;
}

.yoglry-arrow:hover, .yothumbglry-arrow:hover, .yomaxglry-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}

.yoglry-arrow-prev, .yothumbglry-arrow-prev, .yomaxglry-arrow-prev {
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.yoglry-arrow-next, .yothumbglry-arrow-next, .yomaxglry-arrow-next {
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.yoglry-arrow, .yomaxglry-arrow {
    top: 42%;
    font-size: 1.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.yoglry-arrow-prev, .yomaxglry-arrow-prev {
    padding-left: 0.2em;
    padding-right: 0.5em;
}

.yoglry-arrow-next, .yomaxglry-arrow-next {
    padding-left: 0.5em;
    padding-right: 0.2em;
}

.yothumbglry-arrow {
    top: 18%;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yothumbglry-arrow-prev {
    padding-left: 3px;
    padding-right: 5px;
}

.yothumbglry-arrow-next {
    padding-left: 5px;
    padding-right: 3px;
}

/* ------- large gallery as overlay --------------------- */

/* WP bar at the top if logged in has z-index 99999 */
.yomaxglry-large {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yomaxglry-container {
    position: relative;
    overflow: hidden;
    width: 104em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.yomaxglry-slider {
    position: relative;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 960px;
}

.yomaxglry-box {
    background-color: #262626;
}

.yomaxglry-close {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    padding: 0.2em 0.5em 0.5em 0.5em;
    background-color: #262626;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

@media all and (max-width: 104em) {
    .yomaxglry-container {
        height: 100%;
        width: 100%;
    }

    .yomaxglry-slider {
        height: 100%;
    }

    .yomaxglry-counter {
        bottom: 1em;
    }
}

@media all and (max-width: 35em) {

    .yomaxglry-arrow {
        top: 48%;
        font-size: 1.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}
