<?php
// for javascript - define item type
?>
<div class="yachtino-hidden" id="yachtino-itemtype"><?php echo $allData->itemType; ?></div>
<div class="yachtino-articles-list">
<?php
if ($allData->searchPlace != 'top') :
    if (!empty($moduleData['h1_text'])) :
        echo '<h1>' . $moduleData['h1_text'] . '</h1>';
    endif;
endif;
if (!empty($allData->hitsFound)) :
    echo '<b>' . $allData->hitsFound . '</b><br><br>';
endif;
if (!empty($allData->paging)) :
    echo $allData->paging;
endif;
if ($allData->items) :
    foreach ($allData->items as $itemData) :
        include 'incl-list-item.html';
    endforeach;
else :
    echo '<br>' . $allData->translation['NoSearchResult'] . '<br><br><br>';
endif;
if (!empty($allData->paging)) :
    echo $allData->paging;
endif; ?>
</div>
<?php
include_once YACHTINO_DIR_PATH . '/templates/incl-lightbox.html';
?>