<?php
// for javascript - define item type
?>
<div class="yachtino-hidden" id="yachtino-itemtype"><?php echo $allData->itemType; ?></div>
<div class="yachtino-articles-tiles">
<?php
if ($allData->searchPlace != 'top') :
    if (!empty($moduleData['h1_text'])) :
        echo '<h1>' . $moduleData['h1_text'] . '</h1>';
    endif;
endif;
if (!empty($allData->hitsFound)) :
    echo '<b>' . $allData->hitsFound . '</b><br><br>';
endif;
if (!empty($allData->paging)) :
    echo $allData->paging;
endif;
if ($allData->items) :
    if ($allData->columns == 3) :
        $addToItemClass = '3';
    else :
        $addToItemClass = '';
    endif; ?>
    <div class="yachtino-tiles-block<?php echo $addToItemClass; ?>">
<?php
    foreach ($allData->items as $itemData) :
        include 'incl-tiles-item.html';
    endforeach; ?>
    </div>
<?php
else :
    echo '<br>' . $allData->translation['NoSearchResult'] . '<br><br><br>';
endif;
if (!empty($allData->paging)) :
    echo $allData->paging;
endif; ?>
</div>
<?php
include_once YACHTINO_DIR_PATH . '/templates/incl-lightbox.html';
?>